.Nav {
    /* border: 1px solid red; */
    margin: 0 20px;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

/* class controlled by state */
.DisplayNav {
    opacity: 1;
}

@media only screen and (max-width: 768px){
    .Nav {
        display: none;
    }
}

.Nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.Nav li a {
    display: inline-block;
    margin: 2px 5px;
    padding: 0 10px;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 1px;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}
.Nav li:hover a {
    font-weight: bold;
}

.Nav li a.active {
    font-weight: 900;
    color: #000;
    border-left: 5px solid rgb(70, 70, 70);
    border-right: 5px solid rgb(70, 70, 70);
}
/* Underline hover & active effect */
/* .Nav li a:after {
    display: inline-block;
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 3px;
    background: #333;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out !important;
}

.Nav li:hover a:after {
    width: 100%;
}

.Nav li a.active:after {
    width: 100%;
} */
/* =================================== */

