.Container {
    max-width: 1140px;
    padding: 20px;
    margin: 20px auto;
}

.Container:after {
    content: '';
    display: table;
    clear: both;
}

@media only screen and (max-width: 768px) {
    .Container {
        margin: 0 auto;
    }
}