.PortfolioSmall {
    padding: 20px;
}

.PortfolioSmall h2 {
    margin: 0;
    margin-bottom: 10px;
}
.PortfolioItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    .PortfolioItems > div:first-child,
    .PortfolioItems > div:last-child {
        display: none;
    }
}