@import '../../../Variables.scss';

.ContactFormContainer {
    position: relative;
    max-width: 400px;
    width: 100%;
    background: rgba(255, 255, 255, 0.904);
    padding: 40px 30px;
    margin: 40px 0px;
    box-shadow: 6px 17px 84px rgba(0, 0, 0, 0.5);
    h1 {
        margin: 0 0 .3em 0;
    }
    &:before {
        content: 'Your message was sent, I will get back to you soon. :)';
        justify-content: center;
        align-items: center;
        box-shadow: 6px 17px 84px rgba(0, 0, 0, 0.5);
        padding: 2rem;
        position: absolute;
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
        display: none;
        z-index: -1;
        font-size: 2rem;
        text-align: center;
        // font-family: 'Dancing Script', cursive;
        color: #333;
        background-color: #fff;
    }

    // When the class .sent is added animate :before to show message
    &.sent {
        &:before {
            animation: sent 1500ms ease-in-out;
            z-index: 500;
            display: flex;
        }
    }

    form {
        .InputFieldGroup {
            width: 100%;
            padding: 0;
            label {
                display: block;
                margin: 0 0 0 1rem;
                text-transform: uppercase;
            }
            input, textarea {
                vertical-align: bottom;
                width: 100%;
                resize: none;
                padding: 7px;
                border: 1px solid #c0c0c0;
                outline: none;
                letter-spacing: 1px;
                font-family: Arial, Helvetica, sans-serif;
            }
            .ErrorMsg {
                min-height: 30px;
                color: rgb(180, 0, 0);
                font-weight: bold;
                padding: 0 20px 0 0;
                text-align: right;
                margin: 0;
                span {
                    display: block;
                }
            }
        }
    }

    .SendBtnContainer {
        height: 43px;
        position: relative;
        left: -4px;
    }
}



@keyframes sent {
    0% {
        left: 5%;
        z-index: -1;
        transform: rotateY(0) skewY(0);
        display: flex;
    }
    50% {
        left: 120%;
        z-index: 0;
        transform: rotateY(60deg) skewY(10deg);
        display: flex;
    }
    100% {
        left: 5%;
        z-index: 500;
        transform: rotateY(0) skewY(0);
        display: flex;
    }
}
