.PortfolioHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-bottom: 20px;
}

.PortfolioHeader h1 {
    margin: 0;

}

.PortfolioThumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}