.PortfolioItem {
    height: 200px;
    width: 33.333%;
    padding: 5px;
    box-sizing: border-box;
}

.PortfolioItem div {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    border: 1px solid rgb(116, 116, 116);

    /* animate */
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out !important;
}

.PortfolioItem div a {
    display: block;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .PortfolioItem {
        width: 50%;
    }
}

@media only screen and (max-width: 425px) {
    .PortfolioItem {
        width: 100%;
        padding: 5px 0;
    }

    .PortfolioItem:nth-child(5),
    .PortfolioItem:nth-child(6) {
        display: none;
    }
}
