.ContactContainer {
    background: #000 url(../../assets/images/phone.jpeg) no-repeat fixed center;
    background-size: cover;
    padding: 20px 20px;
    position: relative;
}

.ContainerInner {
    max-width: 900px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}