.TestimonialsCarousel {
    /* border: 1px solid green; */
    position: relative;
    overflow: hidden;
    height: 600px;
}
.TestimonialsCarousel .CarouselIndicators {
    list-style: none;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* border: 1px solid green; */
    padding: 10px 0;
    margin: 0;
}

.TestimonialsCarousel .CarouselIndicators li {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: 100% 100%;
    margin: 5px;
    cursor: pointer;
    opacity: .4;
    transition: all 1s ease-in-out;
}

.TestimonialsCarousel .CarouselIndicators li.active {
    opacity: 1;
    border:1px solid #C0C0C0;
}

.TestimonialsCarousel .CarouselInner {
    /* border: 1px solid black; */
    display: flex;
    position: absolute;
    transition: all ease-in-out 500ms;
}

/* Slide next and prev buttons */
.slideButtons div.next,
.slideButtons div.prev {
    font-size: 35px;
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 12%;
    opacity: .5;
    cursor: pointer;
    z-index: 100;
    transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.slideButtons div.next:hover,
.slideButtons div.prev:hover {
    opacity: 1;
}
.slideButtons div.next {
    right: 0;
    justify-content: flex-end;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0.27494747899159666) 0%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
}
.slideButtons div.prev {
    justify-content: flex-start;
    left: 0;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,0.27494747899159666) 0%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
}
.slideButtons div.next span {
    margin-right: 20%;
    z-index: -1;
}

.slideButtons div.prev span{
    margin-left: 20%;
    z-index: -1;
}

@media only screen and (max-width: 425px){
    .TestimonialsCarousel .CarouselIndicators li {
        width: 60px;
        height: 60px;
    }

    .slideButtons div.next,
    .slideButtons div.prev {
        font-size: 20px;
        padding-top: 20%;
        background: transparent;
    }

}


